
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Sistema Pet</title>
    <!-- Bootstrap core CSS -->
<link href="static/css/bootstrap.min.css" rel="stylesheet">
 
<meta name="theme-color" content="#7952b3">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0 mx-4">Pet Online</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end mx-3">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="{% url 'reserva:criar_reserva' %}">Reserva</a>
        <a class="nav-link" href="{% url 'contato' %}">Contato</a>
      </nav>
    </div>
  </header>
{% block conteudo %}{% endblock %}
  <footer class="mt-auto text-white-50">
    <p>Criado por William Santos</p>
  </footer>
</div> 
  </body>
</html>
