{% extends 'base.html' %}

{% load bootstrap5 %}

{% block conteudo %}
<main class="px-3">
  <h2 class="mt-lg-5 mb-6 fst-italic" style="text-align: center">Fale Conosco</h2>
  <p class="fst-italic">
    Envie uma mensagem através do Formulário abaixo ou ligue para o telefone {{ telefone }}
    e fale com o responsável {{ responsavel|upper }}.
  </p>
      {% if sucesso %}
      <p class="alert alert-success fst-italic">Mensagem enviada com sucesso!</p>
      {% else %}
     <br>
     <form action="" method="post" novalidate class=" m-auto fst-italic">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button class="btn btn-primary my-5 fst-italic" type="submit">Enviar Mensagem</button>
    </form>
    {% endif %}
</main>
{% endblock %} 