{% extends 'base.html' %}
{% load static %}
{% block conteudo%}
  <main class="px-3">
    <div class="card text-bg-dark m-1">
        <img src="{% static 'img/pets.png' %}" class="card-img-top" alt="Imagem de cães e gatos">
        <div class="card-img-overlay" style="color: rgb(20, 90, 50);">
          <h3 class="card-title" style="color: black;">Reserve já o banho do seu Pet!</h3>
          <p class="card-text" style="color: black;">Demostre amor a quem te ama!</p>
          <a class="btn btn-secondary fw-bold border-dark bg-white" style="color: black;" aria-current="page" href="{% url 'reserva:criar_reserva' %}">Fazer Reserva</a>
        </div>
      </div>
  </main>
{% endblock %}
  