{% extends 'base.html' %}
{% load bootstrap5 %}
{% block conteudo %}
      <main>
        <div>
        {% if sucesso %}
        <p class="alert alert-success">Reserva realizada com sucesso, em breve iremos entrar em contato!</p>
        {% else %}
        <br>
        <form action="" method="post" novalidate class="col-11 m-auto" style="color: rgb(20, 90, 50);">
          {% csrf_token %}
          {% bootstrap_form form %}
          <hr>
            <button class="btn btn-primary" type="submit">Agendar</button>
        </form>
        {% endif %}
      </div>
      </main>
{% endblock %}
      